<!-- <div  style="background-color: #6a6a6a;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/allproducts']">All-products</a>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                <ul class="dropdown-menu menu dropdown-menu-end">
                  <li><a class="dropdown-item" [routerLink]="['/brush']">Brushes</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/lipstick']">Lipstick</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/nailpolish']">Nail-polish</a></li>
                </ul>
              </li>
          </ul>
          <button type="button" class="btn btn-secondary position-relative">
            <i class="bi bi-cart-fill"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
              {{cart_value}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
        </div>
      </div>
    </nav>
    </div> -->



    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand"  [routerLink]="['/']">Welcome</a>
        <a type="button" class="btn btn-secondary position-relative"  [routerLink]="['/cart']" style="position: relative;left: 625px;">
          <i class="bi bi-cart-fill"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
            {{cart_value}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/allproducts']">All-products</a>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" [routerLink]="['/brush']">Brushes</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/lipstick']">Lipstick</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/nailpolish']">Nail-polish</a></li>
                </ul>
              </li>
            </ul>
            <a type="button" class="btn btn-secondary position-relative"  [routerLink]="['/cart']">
              <i class="bi bi-cart-fill"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
                {{cart_value}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
